Repository awaldow/Roomby: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/roomby-rooms.pipeline.yaml, azure-pipelines/roomby-users.pipeline.yaml

azure-pipelines/roomby-rooms.pipeline.yaml:
  name: Roomby.API.Rooms-$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    displayName: Build the API
    jobs:
    - job: Build
      displayName: Build job
      pool:
        vmImage: windows-2019
      steps:
      - task: NuGetToolInstaller@0
        displayName: Use NuGet 4.4.1
        inputs:
  ...

azure-pipelines/roomby-users.pipeline.yaml:
  name: Roomby.API.Users-$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    displayName: Build the API
    jobs:
    - job: Build
      displayName: Build job
      pool:
        vmImage: windows-2019
        demands:
        - npm
      steps:
      - task: NuGetToolInstaller@0
        displayName: Use NuGet 4.4.1
  ...

Updated nuget.config
  nuget.config
Due: none

Updated roomby-rooms.pipeline.yaml
  azure-pipelines/roomby-rooms.pipeline.yaml
Due: none

Updated roomby-users.pipeline.yaml
  azure-pipelines/roomby-users.pipeline.yaml
Due: none

Updated genSwagger.ps1
  Roomby.API.Users/genSwagger.ps1
Due: azure-pipelines/roomby-users.pipeline.yaml

Update roomby-users.pipeline.yaml for Azure Pipelines
  azure-pipelines/roomby-users.pipeline.yaml
Due: none

Updated genSwagger.ps1
  Roomby.API.Rooms/genSwagger.ps1
Due: azure-pipelines/roomby-rooms.pipeline.yaml

actually provision
  azure-pipelines/roomby-users.pipeline.yaml
Due: none

don't need to pass sql_server_admin on command line in API pipelines
  azure-pipelines/roomby-rooms.pipeline.yaml
  azure-pipelines/roomby-users.pipeline.yaml
Due: none

make genSwagger use env var for build configuration in target
  Roomby.API.Rooms/Roomby.API.Rooms.csproj
  Roomby.API.Rooms/genSwagger.ps1
  Roomby.API.Users/Roomby.API.Users.csproj
  Roomby.API.Users/genSwagger.ps1
Due: azure-pipelines/roomby-rooms.pipeline.yaml, azure-pipelines/roomby-users.pipeline.yaml

use correct name for application insights
  terraform/test/shared/variables.tf
Due: none

add trigger none
  azure-pipelines/roomby-users.pipeline.yaml
Due: none

update IHostingEnvironment -> IHostEnvironment
  Roomby.API.Users/Infrastructure/Filters/HttpGlobalExceptionFilter.cs
Due: azure-pipelines/roomby-users.pipeline.yaml

fix swashbuckle cli dotnetcore version compat issue by including 3.x into the agent
  azure-pipelines/roomby-rooms.pipeline.yaml
Due: none

add module reference for 1/api.1.tf and operations.1.tf
  terraform/test/users/main.tf
Due: none

update openapi-to-terraform to 0.0.4 for integration testing
  .config/dotnet-tools.json
  terraform/test/rooms/1/api.1.tf
  terraform/test/rooms/1/operations.1.tf
  terraform/test/users/1/api.1.tf
  terraform/test/users/1/operations.1.tf
  terraform/test/users/main.tf
Due: none

add files generated using 0.0.4
  terraform/test/rooms/api.1.tf
  terraform/test/rooms/operations.1.tf
  terraform/test/users/api.1.tf
  terraform/test/users/operations.1.tf
Due: none

point to correct resource type in var sub file
  Roomby.API.Rooms/terraformVarSub.json
  Roomby.API.Users/terraformVarSub.json
Due: azure-pipelines/roomby-rooms.pipeline.yaml, azure-pipelines/roomby-users.pipeline.yaml

use correct resource type
  terraform/test/rooms/api.1.tf
  terraform/test/users/api.1.tf
Due: none

fix rooms genswagger
  Roomby.API.Rooms/genSwagger.ps1
Due: azure-pipelines/roomby-rooms.pipeline.yaml

fix issue in sub vars again
  Roomby.API.Rooms/terraformVarSub.json
  Roomby.API.Users/terraformVarSub.json
Due: azure-pipelines/roomby-rooms.pipeline.yaml, azure-pipelines/roomby-users.pipeline.yaml

fix some url template shenanigans by using 0.0.6
  .config/dotnet-tools.json
  Roomby.API.Rooms/terraformVarSub.json
  Roomby.API.Users/terraformVarSub.json
  terraform/test/rooms/api.1.tf
  terraform/test/rooms/operations.1.tf
  terraform/test/shared/productapis.tf
  terraform/test/users/api.1.tf
  terraform/test/users/operations.1.tf
Due: azure-pipelines/roomby-rooms.pipeline.yaml, azure-pipelines/roomby-users.pipeline.yaml

allow rooms test provisioning to occur
  azure-pipelines/roomby-rooms.pipeline.yaml
Due: none

fix IHostEnvironment thing in rooms
  Roomby.API.Rooms/Infrastructure/Filters/HttpGlobalExceptionFilter.cs
Due: azure-pipelines/roomby-rooms.pipeline.yaml

generate with 0.0.7
  .config/dotnet-tools.json
  Roomby.API.Users/Roomby.API.Users.v1.json
  Roomby.API.Users/Roomby.API.Users.xml
  Roomby.API.Users/v1/Controllers/UsersController.cs
  Roomby.API.Users/v1/Mediators/Users/CreateHousehold.cs
  terraform/test/rooms/operations.1.tf
  terraform/test/users/operations.1.tf
Due: azure-pipelines/roomby-users.pipeline.yaml

fix multiline via 0.0.8
  .config/dotnet-tools.json
  terraform/test/rooms/operations.1.tf
Due: none

rename file
  Roomby.API.Users/UsersSettings.cs
Due: azure-pipelines/roomby-users.pipeline.yaml

fix url_template and method collision
  Roomby.API.Rooms/Roomby.API.Rooms.v1.json
  Roomby.API.Rooms/v1/Controllers/RoomController.cs
  terraform/test/rooms/operations.1.tf
Due: azure-pipelines/roomby-rooms.pipeline.yaml

Update household controller with delete and update action, with 0.0.9
  .config/dotnet-tools.json
  Roomby.API.Rooms/Roomby.API.Rooms.v1.json
  Roomby.API.Rooms/v1/Controllers/RoomController.cs
  Roomby.API.Users/Infrastructure/Exceptions/UpdateHouseholdException.cs
  Roomby.API.Users/Roomby.API.Users.v1.json
  Roomby.API.Users/Roomby.API.Users.xml
  Roomby.API.Users/v1/Controllers/HouseholdsController.cs
  Roomby.API.Users/v1/Mediators/Households/DeleteHousehold.cs
  Roomby.API.Users/v1/Mediators/Households/UpdateHousehold.cs
  terraform/test/rooms/operations.1.tf
  terraform/test/users/operations.1.tf
Due: azure-pipelines/roomby-rooms.pipeline.yaml, azure-pipelines/roomby-users.pipeline.yaml

update to use 0.0.10
  .config/dotnet-tools.json
Due: none

update to 0.0.11
  .config/dotnet-tools.json
Due: none

additional newlines from 0.0.11
  terraform/test/rooms/operations.1.tf
  terraform/test/users/operations.1.tf
Due: none

generate revisions files and use those in build
  .config/dotnet-tools.json
  Roomby.API.Rooms/Roomby.API.Rooms.csproj
  Roomby.API.Rooms/genSwagger.ps1
  Roomby.API.Rooms/revisions.json
  Roomby.API.Users/Roomby.API.Users.csproj
  Roomby.API.Users/genSwagger.ps1
  Roomby.API.Users/revisions.json
  terraform/test/rooms/operations.1.tf
  terraform/test/users/operations.1.tf
Due: azure-pipelines/roomby-rooms.pipeline.yaml, azure-pipelines/roomby-users.pipeline.yaml

upgrade tools
  .config/dotnet-tools.json
  Roomby.API.Rooms/Roomby.API.Rooms.csproj
  Roomby.API.Rooms/v1/Controllers/RoomController.cs
  Roomby.API.Users/Roomby.API.Users.csproj
  Roomby.API.Users/v1/Controllers/HouseholdsController.cs
  Roomby.API.Users/v1/Controllers/UsersController.cs
Due: azure-pipelines/roomby-rooms.pipeline.yaml, azure-pipelines/roomby-users.pipeline.yaml

use alpha4
  .config/dotnet-tools.json
  Roomby.API.Rooms/Roomby.API.Rooms.csproj
  Roomby.API.Users/Roomby.API.Users.csproj
Due: azure-pipelines/roomby-rooms.pipeline.yaml, azure-pipelines/roomby-users.pipeline.yaml

get alpha5 and change revision to revisions
  .config/dotnet-tools.json
  Roomby.API.Rooms/Roomby.API.Rooms.csproj
  Roomby.API.Rooms/v1/Controllers/RoomController.cs
  Roomby.API.Users/Roomby.API.Users.csproj
  Roomby.API.Users/v1/Controllers/HouseholdsController.cs
  Roomby.API.Users/v1/Controllers/UsersController.cs
Due: azure-pipelines/roomby-rooms.pipeline.yaml, azure-pipelines/roomby-users.pipeline.yaml

actually deploy app service
  azure-pipelines/roomby-rooms.pipeline.yaml
  azure-pipelines/roomby-users.pipeline.yaml
Due: none

upgrade to beta2
  .config/dotnet-tools.json
  Roomby.API.Rooms/Roomby.API.Rooms.csproj
  Roomby.API.Users/Roomby.API.Users.csproj
Due: azure-pipelines/roomby-rooms.pipeline.yaml, azure-pipelines/roomby-users.pipeline.yaml

update to beta5
  .config/dotnet-tools.json
  Roomby.API.Rooms/Roomby.API.Rooms.csproj
  Roomby.API.Users/Roomby.API.Users.csproj
Due: azure-pipelines/roomby-rooms.pipeline.yaml, azure-pipelines/roomby-users.pipeline.yaml

add docfx project
  Roomby.API.Docs/.gitignore
  Roomby.API.Docs/Roomby.API.Docs.csproj
  Roomby.API.Docs/api/.gitignore
  Roomby.API.Docs/api/index.md
  Roomby.API.Docs/articles/intro.md
  Roomby.API.Docs/articles/toc.yml
  Roomby.API.Docs/docfx.json
  Roomby.API.Docs/index.md
  Roomby.API.Docs/log.txt
  Roomby.API.Docs/toc.yml
  Roomby.API.sln
Due: none

Path conditions:
  azure-pipelines/roomby-rooms.pipeline.yaml: any of: Roomby.API.Rooms
  azure-pipelines/roomby-users.pipeline.yaml: any of: Roomby.API.Users
