Repository awaldow/Roomby: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/roomby-rooms.pipeline.yaml, azure-pipelines/roomby-users.pipeline.yaml

Path conditions:
  azure-pipelines/roomby-rooms.pipeline.yaml: any of: Roomby.API.Rooms
  azure-pipelines/roomby-users.pipeline.yaml: any of: Roomby.API.Users

add some more controller cases for Room
  Roomby.API.Rooms/Controllers/RoomController.cs
  Roomby.API.Rooms/Infrastructure/Exceptions/RoomsDomainException.cs
  Roomby.API.Rooms/Infrastructure/Exceptions/UpdateRoomException.cs
  Roomby.API.Rooms/Mediators/Rooms/CreateRoom.cs
  Roomby.API.Rooms/Mediators/Rooms/DeleteRoom.cs
  Roomby.API.Rooms/Mediators/Rooms/UpdateRoom.cs
Due: azure-pipelines/roomby-rooms.pipeline.yaml

add some produces response types attributes and add api version to endpoints explicitly
  Roomby.API.Rooms/Controllers/RoomController.cs
Due: azure-pipelines/roomby-rooms.pipeline.yaml

use correct attribute for actions
  Roomby.API.Rooms/Controllers/RoomController.cs
Due: azure-pipelines/roomby-rooms.pipeline.yaml

start adding some xml comments
  Roomby.API.Rooms/Controllers/RoomController.cs
  Roomby.API.Rooms/Roomby.API.Rooms.xml
Due: azure-pipelines/roomby-rooms.pipeline.yaml

add some more comments
  Roomby.API.Rooms/Controllers/RoomController.cs
  Roomby.API.Rooms/Mediators/Rooms/DeleteRoom.cs
  Roomby.API.Rooms/Roomby.API.Rooms.xml
Due: azure-pipelines/roomby-rooms.pipeline.yaml

set up redoc...much better
  Roomby.API.Rooms/Extensions/ApplicationBuilderExtensions.cs
  Roomby.API.Rooms/Roomby.API.Rooms.csproj
  Roomby.API.Rooms/Roomby.API.Rooms.xml
  Roomby.API.Rooms/Startup.cs
Due: azure-pipelines/roomby-rooms.pipeline.yaml

move attribute for producing 500 to top level
  Roomby.API.Rooms/Controllers/RoomController.cs
Due: azure-pipelines/roomby-rooms.pipeline.yaml

Change swagger info
  Roomby.API.Rooms/ConfigureSwaggerOptions.cs
Due: azure-pipelines/roomby-rooms.pipeline.yaml

get users API scaffolded the same way as Rooms, just needs controllers filled out now
  Roomby.API.Rooms/Startup.cs
  Roomby.API.Users.Data/EntityConfigurations/UserConfiguration.cs
  Roomby.API.Users.Data/Roomby.API.Users.Data.csproj
  Roomby.API.Users.Data/UsersContext.cs
  Roomby.API.Users/ConfigureSwaggerOptions.cs
  Roomby.API.Users/Extensions/ApplicationBuilderExtensions.cs
  Roomby.API.Users/Extensions/ServiceCollectionExtensions.cs
  Roomby.API.Users/Extensions/Swashbuckle/CustomNameSchemaFilter.cs
  Roomby.API.Users/Infrastructure/ActionResults/InternalServerErrorObjectResult.cs
  Roomby.API.Users/Infrastructure/Exceptions/RoomsDomainException.cs
  Roomby.API.Users/Infrastructure/Exceptions/UpdateRoomException.cs
  Roomby.API.Users/Infrastructure/Filters/HttpGlobalExceptionFilter.cs
  Roomby.API.Users/Roomby.API.Users.csproj
  Roomby.API.Users/Roomby.API.Users.xml
  Roomby.API.Users/RoomsSettings.cs
  Roomby.API.Users/Startup.cs
  Roomby.API.Users/appsettings.json
  terraform/test/users/main.tf
Due: azure-pipelines/roomby-rooms.pipeline.yaml, azure-pipelines/roomby-users.pipeline.yaml

get users dockerfile set up
  Roomby.API.Users/Dockerfile
Due: azure-pipelines/roomby-users.pipeline.yaml

remove compose, we have tye locally
  docker-compose.debug.yml
  docker-compose.yml
Due: none

add azurite to tye so we have a table storage emulator
  tye.yaml
Due: none

get users redoc populating
  Roomby.API.Rooms/Controllers/RoomController.cs
  Roomby.API.Rooms/Mediators/Rooms/GetRoom.cs
  Roomby.API.Users.Data/UsersContext.cs
  Roomby.API.Users/Controllers/HouseholdsController.cs
  Roomby.API.Users/Controllers/UsersController.cs
  Roomby.API.Users/Mediators/Households/GetHousehold.cs
  Roomby.API.Users/Mediators/Users/GetUser.cs
  Roomby.API.Users/Roomby.API.Users.xml
Due: azure-pipelines/roomby-rooms.pipeline.yaml, azure-pipelines/roomby-users.pipeline.yaml

add a consumption tier APIM to the shared terraform configuration
  terraform/test/shared/main.tf
Due: none

use swashbuckle command line to generate the swagger file during the build
  Roomby.API.Rooms/Roomby.API.Rooms.csproj
  Roomby.API.Rooms/Roomby.API.Rooms.json
  Roomby.API.Rooms/genSwagger.ps1
  Roomby.API.Users/Roomby.API.Users.csproj
  Roomby.API.Users/Roomby.API.Users.json
  Roomby.API.Users/genSwagger.ps1
Due: azure-pipelines/roomby-rooms.pipeline.yaml, azure-pipelines/roomby-users.pipeline.yaml

start scaffolding things required to generate terraform operation definitions from swagger json files
  Roomby.API.Models/User.cs
  Roomby.API.Models/roomby.dbml
  Roomby.API.Rooms/Roomby.API.Rooms.json
  terraform/test/shared/apim.tf
  terraform/test/shared/apis.tf
  terraform/test/shared/main.tf
  terraform/test/shared/operations.tf
  terraform/test/shared/variables.tf
Due: azure-pipelines/roomby-rooms.pipeline.yaml

adjust comment wording, as we'll need multiple operations blocks
  terraform/test/shared/operations.tf
Due: none

make files versioned, and those are what will be used to generate the terraform operations.tf files
  Roomby.API.Rooms/Roomby.API.Rooms.v1.json
  Roomby.API.Rooms/genSwagger.ps1
  Roomby.API.Users/Roomby.API.Users.v1.json
  Roomby.API.Users/genSwagger.ps1
Due: azure-pipelines/roomby-rooms.pipeline.yaml, azure-pipelines/roomby-users.pipeline.yaml

create explicit v1 folders to contain version 1 mediators and controllers
  Roomby.API.Rooms/v1/Controllers/RoomController.cs
  Roomby.API.Rooms/v1/Mediators/Rooms/CreateRoom.cs
  Roomby.API.Rooms/v1/Mediators/Rooms/DeleteRoom.cs
  Roomby.API.Rooms/v1/Mediators/Rooms/GetRoom.cs
  Roomby.API.Rooms/v1/Mediators/Rooms/GetRoomsForUser.cs
  Roomby.API.Rooms/v1/Mediators/Rooms/UpdateRoom.cs
  Roomby.API.Users/Roomby.API.Users.xml
  Roomby.API.Users/v1/Controllers/HouseholdsController.cs
  Roomby.API.Users/v1/Controllers/UsersController.cs
  Roomby.API.Users/v1/Mediators/Households/GetHousehold.cs
  Roomby.API.Users/v1/Mediators/Users/GetUser.cs
Due: azure-pipelines/roomby-rooms.pipeline.yaml, azure-pipelines/roomby-users.pipeline.yaml

rearrange some more tf stuff
  terraform/test/shared/apim.tf
  terraform/test/shared/apis.tf
  terraform/test/shared/operations.tf
  terraform/test/shared/productapis.tf
Due: none

make rooms and users pipelines dependent on shared (since that will provision the shared resources like APIM and app insights) and make terraform reflect that change (needs testing)
  azure-pipelines/roomby-rooms.pipeline.yaml
  azure-pipelines/roomby-shared.pipeline.yaml
  azure-pipelines/roomby-users.pipeline.yaml
  terraform/test/rooms/main.tf
  terraform/test/rooms/variables.tf
  terraform/test/shared/main.tf
  terraform/test/shared/variables.tf
  terraform/test/users/main.tf
  terraform/test/users/variables.tf
Due: none

use updated azure provider version
  terraform/test/rooms/main.tf
  terraform/test/shared/apim.tf
  terraform/test/shared/main.tf
  terraform/test/users/main.tf
Due: none

use correct version, last one was too low
  terraform/prod/rooms/main.tf
  terraform/prod/users/main.tf
  terraform/test/rooms/main.tf
  terraform/test/shared/main.tf
  terraform/test/users/main.tf
Due: none

turns out Consumption_0 is right after all
  terraform/test/shared/apim.tf
Due: none

get dotnet tools for swagger gen and openapi-to-terraform running
  .config/dotnet-tools.json
  Roomby.API.Rooms/Roomby.API.Rooms.csproj
  Roomby.API.Rooms/Roomby.API.Rooms.v1.json
  Roomby.API.Rooms/Roomby.API.Rooms.xml
  Roomby.API.Rooms/genSwagger.ps1
  Roomby.API.Rooms/terraformVarSub.json
  Roomby.API.Users/.config/dotnet-tools.json
  Roomby.API.Users/Roomby.API.Users.csproj
  Roomby.API.Users/genSwagger.ps1
  Roomby.API.Users/terraformVarSub.json
  nuget.config
  terraform/test/users/1/api.1.tf
  terraform/test/users/1/operations.1.tf
  terraform/test/users/main.tf
  terraform/test/users/variables.tf
Due: azure-pipelines/roomby-rooms.pipeline.yaml, azure-pipelines/roomby-users.pipeline.yaml

add rooms api stuff, remove project specific dotnet tools manifest
  .config/dotnet-tools.json
  Roomby.API.Users/.config/dotnet-tools.json
  terraform/test/rooms/1/api.1.tf
  terraform/test/rooms/1/operations.1.tf
Due: azure-pipelines/roomby-users.pipeline.yaml

add tool restore commands to make sure builds have swashbuckle cli and openapi-to-terraform available
  azure-pipelines/roomby-rooms.pipeline.yaml
  azure-pipelines/roomby-users.pipeline.yaml
Due: none

get configs valid in users and main
  terraform/test/rooms/main.tf
  terraform/test/rooms/variables.tf
  terraform/test/users/main.tf
  terraform/test/users/variables.tf
Due: none

Update roomby-shared.pipeline.yaml for Azure Pipelines
  azure-pipelines/roomby-shared.pipeline.yaml
Due: none

Remove artifact download
  azure-pipelines/roomby-shared.pipeline.yaml
Due: none

remove generated files
  terraform/test/shared/apis.tf
  terraform/test/shared/operations.tf
Due: none

merge terraform file generation into one action
  Roomby.API.Rooms/Roomby.API.Rooms.csproj
  Roomby.API.Rooms/genSwagger.ps1
  Roomby.API.Users/Roomby.API.Users.csproj
  Roomby.API.Users/genSwagger.ps1
Due: azure-pipelines/roomby-rooms.pipeline.yaml, azure-pipelines/roomby-users.pipeline.yaml

Update roomby-users.pipeline.yaml for Azure Pipelines
  azure-pipelines/roomby-users.pipeline.yaml
Due: none

add action to create household
  Roomby.API.Users/Roomby.API.Users.v1.json
  Roomby.API.Users/Roomby.API.Users.xml
  Roomby.API.Users/v1/Controllers/HouseholdsController.cs
  Roomby.API.Users/v1/Mediators/Households/CreateHousehold.cs
  azure-pipelines/roomby-rooms.pipeline.yaml
  terraform/test/users/1/operations.1.tf
Due: azure-pipelines/roomby-users.pipeline.yaml

update nuget config
  nuget.config
Due: none

Updated nuget.config
  nuget.config
Due: none
