Repository awaldow/Roomby: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/roomby-rooms.pipeline.yaml, azure-pipelines/roomby-users.pipeline.yaml

Path conditions:
  azure-pipelines/roomby-rooms.pipeline.yaml: any of: Roomby.API.Rooms
  azure-pipelines/roomby-users.pipeline.yaml: any of: Roomby.API.Users

Add docfx stuff
  Roomby.API.Docs/docfx.json
  Roomby.API.Docs/log.txt
  Roomby.API.sln
  nuget.config.ignore
Due: none

add Client project for rooms
  Roomby.API.Rooms.Client/Roomby.API.Rooms.Client.csproj
  Roomby.API.Rooms/Roomby.API.Rooms.csproj
  Roomby.API.Rooms/nswag.json
  Roomby.API.sln
  installCredProvider.ps1
Due: azure-pipelines/roomby-rooms.pipeline.yaml

Add nswag.msbuild
  Roomby.API.Rooms/Roomby.API.Rooms.csproj
  nuget.config
Due: azure-pipelines/roomby-rooms.pipeline.yaml

add terraform definition for docs storage account, update pipeline
  azure-pipelines/roomby-docs.pipeline.yaml
  terraform/test/shared/main.tf
  terraform/test/shared/variables.tf
Due: none

Update roomby-clients.pipeline.yaml for Azure Pipelines
  azure-pipelines/roomby-clients.pipeline.yaml
Due: none

Updated RoomController.cs
  Roomby.API.Rooms/v1/Controllers/RoomController.cs
Due: azure-pipelines/roomby-rooms.pipeline.yaml

Updated HouseholdsController.cs
  Roomby.API.Users/v1/Controllers/HouseholdsController.cs
Due: azure-pipelines/roomby-users.pipeline.yaml

Updated UsersController.cs
  Roomby.API.Users/v1/Controllers/UsersController.cs
Due: azure-pipelines/roomby-users.pipeline.yaml

use correct templates path
  Roomby.API.Docs/api/index.md
  Roomby.API.Docs/docfx.json
  Roomby.API.Docs/index.md
  Roomby.API.Docs/toc.yml
Due: none

fix title in docfx.json
  Roomby.API.Docs/docfx.json
Due: none

sigh
  Roomby.API.Docs/docfx.json
Due: none

sigh again
  Roomby.API.Docs/docfx.json
Due: none

add display names to pipeline
  azure-pipelines/roomby-docs.pipeline.yaml
Due: none

sigh for the last time
  Roomby.API.Docs/docfx.json
Due: none

try another globalMetadata field
  Roomby.API.Docs/docfx.json
Due: none

use caps
  Roomby.API.Docs/toc.yml
Due: none

update footer
  Roomby.API.Docs/templates/roomby/partials/footer.tmpl.partial
Due: none

adjust docs pipeline trigger
  azure-pipelines/roomby-docs.pipeline.yaml
Due: none

adjust pipelines for APIs
  azure-pipelines/roomby-rooms.pipeline.yaml
  azure-pipelines/roomby-users.pipeline.yaml
Due: none

uncomment task
  azure-pipelines/roomby-users.pipeline.yaml
Due: none

update some tool and package versions
  .config/dotnet-tools.json
  Roomby.API.Rooms/Roomby.API.Rooms.csproj
  Roomby.API.Users/Roomby.API.Users.csproj
Due: azure-pipelines/roomby-rooms.pipeline.yaml, azure-pipelines/roomby-users.pipeline.yaml

update packages
  Roomby.API.Rooms.Data/Roomby.API.Rooms.Data.csproj
  Roomby.API.Rooms.Tests/Roomby.API.Rooms.Tests.csproj
  Roomby.API.Rooms/ConfigureSwaggerOptions.cs
  Roomby.API.Rooms/Roomby.API.Rooms.csproj
  Roomby.API.Rooms/Roomby.API.Rooms.xml
  Roomby.API.Users.Data/Roomby.API.Users.Data.csproj
  Roomby.API.Users.Tests/Roomby.API.Users.Tests.csproj
  Roomby.API.Users/ConfigureSwaggerOptions.cs
  Roomby.API.Users/Roomby.API.Users.csproj
  Roomby.API.Users/Roomby.API.Users.xml
Due: azure-pipelines/roomby-rooms.pipeline.yaml, azure-pipelines/roomby-users.pipeline.yaml
